/* CSS để tùy chỉnh nút quay về */
.backButton {
    display: inline-block;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.backButton img {
    width: 1px; /* Điều chỉnh kích thước của hình ảnh mũi tên */
    height: 100px;
}
